/*Default styles*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(170, 255, 255);
  font-size: 55px;
}

.main.container {
  background-color: rgb(174, 250, 124);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  padding-bottom: 70px;
}

.player-info.container {
  margin: 30px 0 30px 0;
}

.buttons.container,
.name-input.container {
  margin: 10px 0 20px;
  display: flex;
  justify-content: space-evenly;
}

.name-input.container {
  justify-content: space-between;
  width: 500px;
}


.grid.container {
  border: solid 2px black;
  padding: 5px;
  display: grid;
  box-sizing: border-box;
  width: 500px;
  height: 500px;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.grid.item {
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid.item img {
  width: 115px;
  height: 115px;
}

footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}